body {
    margin: 40px auto;
    max-width: 1200px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background: #222;
    margin: 10px;
    width: 200px;
    height: 150px;
    /* 
    ----width: 45%;
    width: var(--width);
    height: calc(var(--width) * 0.8);
    */
}

